<ng-container *ngIf="item"
  ><ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button [defaultHref]="'/tabs/thursday'"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ item.artistName }}</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="onToggleFavorite()">
          <ion-icon *ngIf="isFavorite" name="star" slot="icon-only"></ion-icon>
          <ion-icon
            *ngIf="!isFavorite"
            name="star-outline"
            slot="icon-only"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card id="detail-card">
            <ion-card-header>
              <ion-card-title>{{ item.artistName }}</ion-card-title>
              <ion-card-subtitle>
                <span>{{ item.start | date: 'EEEE HH:mm' }}</span>
                <span>&mdash;</span>
                <span>{{ item.end | date: 'HH:mm' }}</span>
                <span>h</span>
                <span>, {{ item.venue }}</span>
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <p [innerHtml]="item.showcase"></p>

              <div id="detail-card-links">
                <ng-container *ngIf="spotifyArtist$ | async as spotify">
                  <span *ngIf="spotify !== null">
                    <a
                      [href]="spotify.external_urls.spotify"
                      rel="noopener noreferrer"
                      target="_blank"
                      >Spotify (Followers:
                      {{ spotify.followers.total | number: '2.' }})</a
                    ></span
                  >

                  <div *ngIf="spotify.images.length" id="spotify-image">
                    <img [src]="spotify.images[0].url" />
                  </div>
                </ng-container>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row></ion-row>
    </ion-grid>
  </ion-content>
</ng-container>
