<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <h2>Impressum</h2>
          <p>
            This website is a private project without any commercial interest.
          </p>
          <p>
            In case of any questions, please contact me via
            <a href="mailto:wavesviennatimetable@mailbox.org"
              >wavesviennatimetable [@] mailbox.org</a
            >
          </p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <h2>Icons</h2>
          <div>
            Icons made by <a href="https://ionic.io/ionicons">ionicons</a> and
            <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
            <a href="https://www.flaticon.com/" title="Flaticon"
              >www.flaticon.com</a
            >
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
