<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <h2>Impressum</h2>
          <p>
            This website is a private project without any commercial interest.
          </p>
          <p>
            In case of any questions, please contact me via
            <a href="mailto:wavesviennatimetable@mailbox.org"
              >wavesviennatimetable [@] mailbox.org</a
            >
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
